body{
    background-color: rgb(20, 20, 20);
}

h1{
    color: white;
    text-align: center;
}

#gameBoard{

}

#gameContainer{
    text-align: center;
}

#score{
    color: white;
    font-size: 100px;
}

#resetButton{
    font-size: 22px;
    width: 100px;
    height: 100px;
    border: 4px solid;
    border-radius: 15px;
    cursor: pointer;
}
